body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #eee;
  position: relative;
  background-image: url('https://www.transparenttextures.com/patterns/cubes.png');
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  padding: 0;
  margin-top: -21px;
  font-family: 'Montserrat', sans-serif;
}
/* app */
.app {
  display: flex;
  flex-wrap: wrap;
}
/* header */

.header {
  position: fixed;
  padding: 10px;
  padding-bottom: 5px;
  background-color: #f5ba13;
  width: 100%;
  z-index: 2;
}
.menuIcon {
  height: 50px;
  width: 50px;
  position: relative;
  top: 8px;
  margin-right: 15px;
  background-color: transparent;
  outline: none;
  border: none;
}
.menuIcon .icon {
  font-size: 2.5rem !important;
  color: #fff;
}
.menuIcon:hover {
  box-shadow: 0px 0px 7px 7px lightgray;
  border-radius: 50%;
}
.logo {
  height: 1.9rem !important;
  width: 1.9rem !important;
}

/* footer */
footer {
  position: fixed;
  bottom: 0;
  text-align: center;
  color: #ccc;
  width: 100%;
}
/* note */

.note {
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px 12px 0px 12px;
  width: 250px;
  margin: 10px;
  overflow-wrap: break-word;
  display: inline-block;
  vertical-align: top;
  /* transition: ease 10s; */
}

.note h1 {
  font-size: 1.1em;
  margin-bottom: 6px;
}

.note p {
  font-size: 1.1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
}
.note h1,
p:focus {
  outline: none;
}

.buttonList {
  list-style: none;
  display: inline;
  position: relative;
  margin-left: -40px;
}

.buttonList li {
  display: inline;
  margin: 5px;
  /* opacity: 0; */
}

.note button {
  /* color: #f5ba13; */
  border: none;
  width: 36px;
  height: 36px;
  cursor: pointer;
  outline: none;
  background: transparent;
}
.note button:hover {
  border-radius: 50%;
  background-color: rgb(226, 223, 223);
}
.color-li {
  position: relative;
}
.color-pallete {
  height: 80px;
  width: 80px;
  z-index: 2;
  float: left;
  position: absolute;
  top: -6rem;
  left: 1rem;
  display: flex;
  flex-wrap: wrap;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 2px 2px lightgray;
}
.color-divs {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin-left: 5px;
  margin-top: 5px;
}
.others {
  display: inline-block;
  vertical-align: top;
}
.pinned {
  display: inline-block;
  vertical-align: top;
}
/* create-note */
.create-note {
  position: relative;
  width: 480px;
  margin: 30px auto 20px auto;
  background: #fff;
  padding: 15px;
  border-radius: 7px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
  /* left: 20%; */
}
.create-note input,
textarea {
  width: 100%;
  border: none;
  padding: 4px;
  outline: none;
  font-size: 1.2em;
  font-family: inherit;
  resize: none;
}

.create-note button {
  position: absolute;
  right: 18px;
  bottom: -18px;
  background: #f5ba13;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
}

.notes-area {
  position: absolute;
  left: 20%;
  top: 117px;
  width: 79.5%;
}

/* navmenu */
.navmenu {
  position: fixed;
  top: 97px;
  height: 528px;
  z-index: 2;
  transition: all 2s ease-in-out;
}

.list {
  list-style: none;
  padding-left: 15px;
  margin-top: 10px;
}

.list li {
  margin-top: 19px;
}

.nav-icons {
  height: 2.4rem !important;
  width: 2.4rem !important;
}

.nav-icons:hover {
  border-radius: 50%;
  background-color: #f5da92;
}

.nav-icons + span {
  font-size: 1.2rem;
  margin-left: 20px;
  font-weight: 500;
  position: relative;
  top: -13px;
}

@media only screen and (max-width: 1000px) {
  .notes-area {
    left: 200px;
  }
}

@media only screen and (max-width: 800px) {
  .create-note {
    margin-left: 10px;
    width: 350px;
  }
  .note {
    width: 350px;
  }
}
